<mat-card class="dashboard-card">
  <mat-card-content>
    <h1>Frequently Asked Questions</h1>
    <mat-expansion-panel>
    <mat-panel-title>How long should we plan for a visit?</mat-panel-title>
    <ul>
      <li>Truth be told it depends on how much you love animals, you could spend an hour or half a day.</li>
    </ul>
  </mat-expansion-panel>
<mat-expansion-panel>
What type of park is Big Joel's Safari?
<ul>
<li>Big Joel's Safari is a small walk-through park on 15 acres. It is half petting zoo and half zoo and gets you close to the animals.</li>
</ul>
</div>
</div>
</mat-expansion-panel>
<mat-expansion-panel>
What is the best age to visit?
<ul>
  <li>Big Joel's is made for all ages as long as you love animals.</li>
</ul>


</mat-expansion-panel>
<mat-expansion-panel>

  Are you allowed to bring food and beverages into Big Joel's Safari?
</mat-expansion-panel>
<mat-expansion-panel>
<ul>
  <li>For the safety of our animals, the answer is no. Water bottles are allowed. Sealed snacks and drinks are sold in our gift shop.</li>
</ul>


</mat-expansion-panel>
Is the park wheelchair accessible?
</mat-expansion-panel>
<mat-expansion-panel>

      <ul>
          <li>
              We are partially wheelchair accessible. The zoo does not have paved walkways and is on natural terrain.
              There are slight inclines, gravel, and grass to manage. Some chairs do better than others, and we do not have wheelchair rentals.
          </li>
      </ul>
  
</mat-expansion-panel>
<mat-expansion-panel> What animals are you allowed to feed and touch?
</mat-expansion-panel>
<mat-expansion-panel>
      <ul>
          <li>
              Almost any animal that can walk up to the fence can be fed or touched, unless posted signs tell you otherwise.
              For example, some love to be petted, but cannot be fed. While some love to be fed, but not touched.
              Most animals at the park that can be touched and fed love both!
              The feed is not for all the animals as some are on special diets, so keep them healthy.
              You can use your hands, spoons, or special feed tubes to feed the animals, but don't use your cup they might steal or break it!
          </li>
      </ul>
    </mat-expansion-panel>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
          <mat-panel-title>
                  Do you have to have a reservation or schedule a time to come out to the Safari?
          </mat-panel-title>
      </mat-expansion-panel>
      <mat-expansion-panel>
              <ul>
                  <li>You can visit anytime during open days and hours, which can be found in the "Park Information" section. Only school tours and field trips must be scheduled in advance.</li>
              </ul>
      </mat-expansion-panel>
  </mat-card-content>
</mat-card>
