<mat-card class="dashboard-card">
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title><b>
            Best age to visit?
          </b></mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            Animal lovers of all ages are welcome.
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header><b>
            Is the park wheelchair accessible?
          </b></mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            The park is partially wheelchair accessible.</mat-list-item>
          <mat-list-item>
            There are no paved walkways with only natural and gravel terrain.
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header><b>Which animals can be touched and fed?</b></mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            Almost all animals that can walk up to the fence are approachable, unless signs say otherwise.
          </mat-list-item>
          <mat-list-item>
            Some love to be touched, but cannot be fed.
          </mat-list-item>
          <mat-list-item>
            Some love to be fed, but not touched.
          </mat-list-item>
          <mat-list-item>
            The animals can be fed by hand, spoon, or special feed tubes.
          </mat-list-item>
          <mat-list-item>
            Feeding directly from the feed cup is discouraged.
          </mat-list-item>
          <mat-list-item>
            Hand washing stations are near the front of the park.
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
        <mat-expansion-panel-header><b>
            Are reservations required for large groups?
          </b></mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>
            School tours and field trips must be scheduled in advance.
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
