<mat-card class="dashboard-card">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>July 4th, 2020 &nbsp;
          <button  class="iconify" data-icon="zmdi-share" data-inline="false"><a
            routerLink="/calendar" routerLinkActive="active"></a></button>
      </p>
      <h4>Shiba Inu</h4>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>

    </mat-card-content>
</mat-card>
