<mat-card class="dashboard-card">
  <mat-card-title>Admittance ends 15 minutes prior to closing.</mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            9AM-5PM
          </mat-panel-title>
          <mat-panel-description>
            {{panelOpenState ? 'Open' : 'Closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>9AM-5PM</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>9AM-5PM</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>9AM-5PM</mat-list-item>
        </mat-list>
<!-- List rows with names of special hours for park exhibits -->
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
