<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Last available entery is 30 minutes prior to closing.</b></p>
    <p><b>Average journey through the park is 1 hour.</b></p>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            9AM-5PM
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-list-item>Friday: 9AM-5PM</mat-list-item>
          <mat-list-item>Saturday: 9AM-5PM</mat-list-item>
          <mat-list-item>Sunday: 9AM-5PM</mat-list-item>
        </mat-list>
<!-- List rows with names of special hours for park exhibits -->
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
