<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Skip the line and purchase your tickets online!</b></p>
    <p><b>Season Passes</b></p>
    <ul>
      <li>Adults: $35</li>
      <li>Group of Three: $95</li>
      <li>Group of Four: $130</li>
    </ul>

    </mat-card-content>
</mat-card>
<h2>Small Feed Cup</h2>
            <h3>Half price refills</h3>
            <h4>
                8 oz plastic souvenir cup with Big Joel's Safari logo
            </h4>
            <h2 class="text-primary menu-price">$2<small class="text-muted">/ per cup</small></h2>
            <img src="~/images/safarilogo.png" alt="Cup">
            <h2>Paraqeet Encounter</h2>
            <h3>Open all day from Memorial Day weekend - Labor Day weekend, weather permitting.</h3>
            <h4>
                Feed our many fine-feathered friends in our
                open aviary. Many will actually land on your feeding stick, your
                hand, or even your head!
            </h4>
            <h2 class="text-primary menu-price">$2<small class="text-muted">/ per stick</small></h2>
        </div>
        <div class="col-sm-6">
            <img src="~/images/safarilogo.png" alt="Birds">
            <h2>Large Feed Cup</h2>
            <h3>Half price refills</h3>
            <h4>
                20 oz plastic souvenir cup with Big Joel's Safari logo
            </h4>
            <h2 class="text-primary menu-price">$4<small class="text-muted">/ per cup</small></h2>
            <img src="~/images/safarilogo.png" alt="Camel">
            <h2>Camel Rides</h2>
            <h3>Open all day from Memorial Day weekend - Labor Day weekend, weather permitting.</h3>
            <h4>
                For ages 2 years and older.
                More than one person may ride with a weight limit of 250 lbs. Helmet not provided.
            </h4>
            <h2 class="text-primary menu-price">$5<small class="text-muted">/ per rider</small></h2>
        </div>
        <div class="col-sm-6">

            <img src="~/images/safarilogo.png" alt="Pony">
            <h2>Pony and Donkey Rides</h2>
            <h3>Open all day from Memorial Day weekend - Labor Day weekend, weather permitting.</h3>
            <h4>
                For ages 2 years and older with a weight limit of 80 lbs.
                Younger riders may require a parent to walk along side the pony. Helmet not provided.
            </h4>
            <h2 class="text-primary menu-price">$5<small class="text-muted">/ per rider</small></h2>
            <img src="~/images/safarilogo.png" alt="Wagon">
            <h2>Wagon Rides</h2>
            <h3>Open all day from Labor Day weekend - just after Halloween, weather permitting.</h3>
            <h4>
                Fall time is park owners, Big Joel and Mimi's favorite time of the year!
                They love to decorate for the fall season and especially for Halloween, transforming Big Joel's Safari into Big Joel's Spooky Safari!
                The wagon ride takes you in our old hay wagon with our trusty old tractor on a tour through our large field, which is home to our deer,
                elk, bison, and watusi cattle as well as our many ducks and geese.
                During the tour, the ride operator will inform you about our animal residents and facts about Big Joel's Safari!
            </h4>
            <h2 class="text-primary menu-price">$2.50<small class="text-muted">/ per rider</small></h2>
            </div>
            <div class="col-sm-6">
                "
                <img src="~/images/safarilogo.png" alt="Education">
                <h2>Education Station</h2>
                <h3>Open on weekends in the Spring and Fall and everyday in the Summer.</h3>
                <h4>
                    Learn some cool facts about animals and about us. Touch animal artifacts such as ostrich eggs and deer antlers.
                    You can even touch one of our animal ambassadors such as a snake, alligator, or other animal friends!
                </h4>
                <h2 class="text-primary menu-price">FREE</h2>
