<mat-card class="dashboard-card">
    <mat-card-content>
      <p>
          Hello there and welcome to our website!<br/>
          Here is our little story about how Big Joel's Safari came to be.<br/>
          Joel and his wife, Mimi, opened Big Joel's Safari Petting Zoo <br/>
          and Educational Park to the public in July, 2012. Our facility is<br/>
          a zoo and agri-tourism attraction recognized by the Missouri Farm Bureau.<br/>
          We are a privately funded and licensed facility. We do not receive funds<br/>
          from the government or receive any donations from any organizations<br/>
          and the public. Before opening our farm to the public, we had been<br/>
          working with and raising animals for many years. In fact, we have<br/>
          had many of our larger residents since they were only a few weeks old.<br/>
          Such as "Gus" now one of our big camels and "Pumpkin" our bison cow.<br/>
          Joel has always had a passion for animals and got his first "exotic" pet,<br/>
          a ball python when he was 6 years old. It only grew from there as you<br/>
          can see today and Big Joel is the main culprit! He played college football<br/>
          for Mizzou and graduated with his degree in Animal Sciences in 2007.<br/>
          It was at Mizzou that he met his wife Melissa, "Mimi", who also shared<br/>
          a passion for animals. She almost went to school to be a veterinarian,<br/>
          but became an occupational therapists instead (don't worry Joel has<br/>
          forgiven her). Joel continued to play professional football for a few<br/>
          years after graduation and began to work more intensely with exotic<br/>
          animals during his off seasons. Not only at his own farm, but at larger<br/>
          facilities owned by close friends. Some of which you might have visited<br/>
          yourselves.  Over the years we kept adding more animals. Friends and<br/>
          family enjoyed coming over to see the animals and as the word spread,<br/>
          many people would stop in the driveway to view the animals. It was<br/>
          from the encouragement of friends, that we began to plan opening a<br/>
          small animal park. Years of learning to care and handle different<br/>
          animals helped us create what you can come see today. Big Joel & Mimi<br/>
          are members of the ZAA ( Zoological Association of America) and other<br/>
          organizations to further our animals and our park (if you stop learning<br/>
          you are no longer the expert!). It wasn't always easy though when both of<br/>
          them  were working full-time jobs, building the park, and taking care of<br/>
          the animals as well. Now it is Big Joel's full-time job and Mimi's<br/>
          part-time job. The farm also keeps the rest of the Clinger family <br/>
          (mainly Joel's Parents) busy. We are proud of our animals and of our<br/>
          family that have helped us create our one of kind farm. But don't worry,<br/>
          we are not done just yet, as we are always planning new projects.<br/>
          So that is the short story of how our farm became a zoo. Big Joel's <br/>
          Safari is still mainly ran by Family and now with the help of friends.<br/>
          To keep up on new projects, animals, and news "Like" us on Facebook.<br/>
          We would like to thank you for taking the time to learn a little about us,<br/>
          our farm, and of course, the animals. We are already adding and building<br/>
          for the 2016 season and we hope to see you soon!
<br/><br/>
      Sincerely,<br/>
      Big Joel & Mimi
      </p>
    </mat-card-content>
</mat-card>
