<mat-card class="dashboard-card">
    <mat-card-content>
      <p><b>The "zoo made for you" is the premier animal-based attraction in the area.
      </b></p>
      <p>Big Joel's is a family-owned farm and seasonal attraction.
        The family are continually improving and adding to their park every year.
        The farm is home to majestic bison, watusi cattle, zebu, aoudads, camels, zebras,
        llamas, african porcupines, ostriches, emus, parrots, reptiles, a variety of deer, elk, and antelope along with our other farm animals.
        Big Joel's Safari now cares for well over 60 different animal species, both big and small, mild and wild
        There are always new-born animals, new species, exhibits, and things to do.
        View all types of animals up close with the opportunity to touch and feed many of them.
        Besides visiting with the local animal residents at the park,
        This is a family-oriented and educational experience that will leave lasting memories.
        The park offers a change of pace away from the hustle and bustle of the city.
        Come see what thousands of visitors are talking about.
        This is not your typical petting zoo and is well worth the trip.
        There is always something new to see and learn about.
        We aim to make your experience a great one. The animals love the attention, too!<br/><br/>

        Hope to see you there!<br/>
        Big Joel and MiMi<br/><br/>

        Big Joel's Safari Petting Zoo & Educational Park is a USDA Licensed and Insured Facility</p>
    </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
      <p><b>Established July, 2012</b></p>
        <p><i>The zoo and agri-tourism attraction is recognized by the Missouri Farm Bureau.
          We are a privately funded and licensed facility.
          We do not currently receive any government or donor support.
          Before opening the farm to the public, we had been
          working with and raising animals for many years.
          Many of the larger residents have been with us since they were only a few weeks old.
          One of the big camels, "Gus", and "Pumpkin" the bison cow, are some of the oldest residents.
          Joel has always had a passion for animals. At 6 years old, he had his first "exotic" pet,
          a ball python.
          His passion for animals has only grown from there.
          He played college football for Mizzou and graduated with his degree in Animal Sciences in 2007.
          It was at Mizzou that he met his wife Melissa, "Mimi", who also shared
          a passion for animals. She almost went to school to be a veterinarian,
          but became an occupational therapists instead (Joel has
          forgiven her). Joel continued to play professional football for a few
          years after graduation and began to work more intensely with exotic
          animals during his off seasons. Not only at his own farm, but at larger
          facilities owned by close friends. Over the years we kept adding more animals. Friends and
          family enjoyed coming over to see the animals. Once the word spread,
          many people would stop in the driveway to view the animals. It was
          from the encouragement of friends, that we began to plan opening a
          small animal park. Years of learning to care and handle different
          animals helped us create what it is today. Big Joel & Mimi
          are members of the ZAA (Zoological Association of America) and other
          organizations to help improve the animal's care. The farm keeps the whole Clinger family
          (mainly Joel's Parents) busy. Big Joel's
          Safari is still mainly run by Family and now with the help of friends.
          We are proud of the animals and of the
          family that have helped us create the one of a kind farm.
          We are always expanding and planning new projects.
          Thank you for taking the time to learn a little about us,
          the farm, and of course, the animals. We hope to see you soon!<br/><br/>

      Sincerely,<br/>
      Big Joel & Mimi
      </i></p>
    </mat-card-content>
</mat-card>
