<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>
        Live Nativities & Mobile Animal Services!
    </b></p>
    <ul>
      <li>Big Joel's Safari provides Live Nativities during the holiday season.</li>
      <li>Want to add something special to your nativity scene, church program, or holiday event this season?</li>
      <li>We have provided animals for many churches and organizations.</li>
      <li>We generally provide traditional barn animals such as donkeys, goats, sheep, small cow, and sometimes poultry
        on request. We can of course provide a camel ( or camels ) which are often the highlight of the show.</li>
      <li>All live nativities are customized to suit your needs, so we do not have general pricing for this service.
      </li>
      <li>For a price quote and availability you can call the park office 636-745-3031.</li>
      <li>So we can give you a better quote please know the date or dates, how long your event will be, location, & any
        special scenarios.</li>
      <li>Our animals have performed at various nativities and productions, including Six Flags Holiday in the Park
        "Majesty of Christmas" Live Show and Harvester Christian Church's "Journey to Bethlehem".</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <ul>
      <li>Petting Zoos & Camel Rides for Fairs, Festivals, and Large Events</li>
      <li>Big Joel's Safari only provides the following for Large Events, for small mobile petting zoos for birthday
        parties and small events please contact Nick's Barnyard Buddies (info below).</li>
      <li>Availability and options varies, email or call for more information</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Nick's Barnyard Buddies Mobile Petting Zoo & Pony Rides!</b></p>
    <ul>
      <li>Big Joel's Safari does not offer small mobile petting zoos for birthday parties, daycares, or other events, so
        contact Nick's Barnyard Buddies! Nick & his family offers a mobile petting zoo & pony rides with variety of
        barnyard variety critters that will be serving the St. Louis Area and surrounding areas. Nick's Barnyard Buddies
        custom trailer allows kids to get up close with the animals a while saving you the mess and set up of the
        traditional petting zoo!</li>
      <li>The trailer is 28' feet long and has vinyl graphics on all sides (it is really cool).</li>
      <li>Please contact Nick Wittje of Nick's Barnyard Buddies for more information on pricing and scheduling</li>
      <li>by phone at: 573-465-7125 . Check out www.nicksbarnyardbuddiesllc.net or facebook for more information</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Animal Appearances & Rentals</b></p>
    <ul>
      <li>We have had our animals out for photo shoots, TV appearances, business promotions, parades, and more.</li>
      <li>Our animals must be accompanied by one of their handlers at all times to ensure their safety.</li>
      <li>Call for a quote & availability</li>
    </ul>
  </mat-card-content>
</mat-card>
