<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>
        Live Nativities and Mobile Animal Services!
    </b></p>
    <ul>
      <li>Big Joel's Safari provides Live Nativities during the holiday season.</li>
      <li>There are animals provided for many churches and organizations.</li>
      <li>Upon request, a nativity could include a variety of barn animals, such as:
        <ul>
          <li>Camels</li>
          <li>Donkeys</li>
          <li>Goats</li>
          <li>Sheep</li>
          <li>A Small Cow</li>
          <li>And Sometimes Poultry</li>
        </ul>
      <li>The animals have performed at various nativities and productions, including Six Flags Holiday in the Park,
        "Majesty of Christmas" Live Show, and Harvester Christian Church's "Journey to Bethlehem".
      </li>
      <li>Mobile animal services are also available for:</li>
        <ul>
          <li>Fairs</li>
          <li>Festivals</li>
          <li>And Other Large Events</li>
        </ul>
      <li>Availability and options may vary</li>
      <li>Call or email for more information: (636) 745-3031</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Nick's Barnyard Buddies Mobile Petting Zoo and Pony Rides!</b></p>
    <ul>
      <li>For smaller mobile animal services, contact Nick's Barnyard Buddies!</li>
      <li>Nick and his family offer a mobile petting zoo and pony rides with a variety of
        barnyard critters that serve St. Louis Area and the surrounding areas.</li>
      <li>Nick's Barnyard Buddies provides a custom trailer that allows kids to get
        up close with the animals, while avoiding the mess and set up of a
        traditional petting zoo.</li>
      <li>The trailer is 28' feet long and has vinyl graphics on all sides (it is really cool).</li>
      <li>Please contact Nick Wittje of Nick's Barnyard Buddies for more information on pricing and scheduling.</li>
      <li><b>Phone:</b>(573) 465-7125</li>
      <li><b>Email:</b>www.nicksbarnyardbuddiesllc.net</li>
      <!--Facebook-->
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Animal Appearances and Rentals:</b></p>
    <ul>
      <li>The animals are available for photo shoots, TV appearances, business promotions, parades, and more.</li>
      <li>They must be accompanied by one of their handlers at all times to ensure their safety.</li>
      <li>Call for a quote and availability.</li>
    </ul>
  </mat-card-content>
</mat-card>
