<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>
        Live Nativities and Mobile Animal Services!
    </b></p>
    <ul>
      <li>Big Joel's Safari provides Live Nativities during the holiday season.</li>
      <li>There are animals provided for many churches and organizations.</li>
      <li>There are generally traditional barn animals including a camel, donkeys, goats, sheep, small cow, and sometimes poultry
        on request.</li>
      <li>All live nativity services are customized. Pricing will vary.
      </li>
      <li>For a price quote and availability call the park office 636-745-3031.</li>
      <li>Let us know the date, duration, location, and any special scenarios.</li>
      <li>The animals have performed at various nativities and productions, including Six Flags Holiday in the Park
        "Majesty of Christmas" Live Show and Harvester Christian Church's "Journey to Bethlehem".</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Petting Zoos and Camel Rides for Fairs, Festivals, and Large Events:
    </b></p>
    <ul>
      <li>Big Joel's Safari only provides the following for Large Events, for small mobile petting zoos for birthday
        parties and small events please contact Nick's Barnyard Buddies (info below).</li>
      <li>Availability and options varies, email or call for more information.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Nick's Barnyard Buddies Mobile Petting Zoo and Pony Rides!</b></p>
    <ul>
      <li>Big Joel's Safari does not offer small mobile petting zoos for birthday parties, daycares, or other events.
        Instead, contact Nick's Barnyard Buddies! Nick and his family offer a mobile petting zoo and pony rides with a variety of
        barnyard critters that serve St. Louis Area and the surrounding areas. Nick's Barnyard Buddies
        custom trailer allows kids to get up close with the animals, while avoiding the mess and set up of a
        traditional petting zoo.</li>
      <li>The trailer is 28' feet long and has vinyl graphics on all sides (it is really cool).</li>
      <li>Please contact Nick Wittje of Nick's Barnyard Buddies for more information on pricing and scheduling.</li>
      <li>by phone at: 573-465-7125 . Check out www.nicksbarnyardbuddiesllc.net or facebook for more information.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Animal Appearances and Rentals:</b></p>
    <ul>
      <li>There are have had the animals out for photo shoots, TV appearances, business promotions, parades, and more.</li>
      <li>The animals must be accompanied by one of their handlers at all times to ensure their safety.</li>
      <li>Call for a quote and availability.</li>
    </ul>
  </mat-card-content>
</mat-card>
