<mat-toolbar>

    <span>{{title}}</span>

    <span class="demo-spacer"></span>

    <span class="demo-source">
      <button mat-button [matMenuTriggerFor]="demoMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #demoMenu="matMenu">
        <a
          routerLink="/carousel" routerLinkActive="active"
          mat-menu-item
        >
          Carousel
        </a>
        <a
          routerLink="/calendars" routerLinkActive="active"
          mat-menu-item
        >
          Calendar
        </a>
      </mat-menu>

    </span>


  </mat-toolbar>

  <main>
    <router-outlet></router-outlet>
  </main>

