<mat-toolbar color="primary" class="fixed-header">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
    <span class="menu-spacer"></span>
    <div>
      <!-- <a button routerLink="/dashboard" routerLinkActive="active">Dashboard</a> -->
      <a button routerLink="/carousel" routerLinkActive="active">Carousel</a>
      <a button routerLink="/calendars" routerLinkActive="active">Calendars</a>
    </div>
  </mat-toolbar-row>
  </mat-toolbar>
  <main>
    <router-outlet style="margin-top: 80px;"></router-outlet>
  </main>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a button routerLink="/carousel" routerLinkActive="active">Carousel</a>
        <a button routerLink="/calendars" routerLinkActive="active">Calendars</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
