<mat-card class="dashboard-card">
  <mat-card-content>
    <p><b>Looking for something fun and educational? Big Joel's Safari provides Educational Field Trips for students of
        all ages.
        <br />We love to teach people about our animals and our facility.
        <br />Teaching is a tradition in the Clinger family, as both of Big Joel's parents are retired school teachers.
        <br />Joel has learned a thing or two over the years!
        <br />On your field trip you will meet all the animals here at Big Joel's, get a chance to feed some of the
        them, and get some up close encounters with our reptile ambassadors.
        <br />So book your Field Trip today! Make sure to read our cancellation policy, rules & guidelines, and tips for
        a great field trip below.
      </b></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Field Trips & Pricing:</b></p>
    <ul>
      <li>We offer field trips throughout most of our season (field trips not offered on weekend.</li>
      <li>Groups over 60 students/ participants = $5.00 per participant (students & chaperone</li>
      <li>Groups under 60 students/participants= $6.00 per participant (students & chaperone</li>
      <li>Your field trip admission fee includes entry to the park and feed for most of the animals.</li>
      <li>​As always bus drivers and teacher are free.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>How to book your field trip</b></p>
    <ul>
      <li>First, please read all the available information on this page regarding our educational field trips</li>

      <li>Secondly, all final booking is done by calling the park office at (636) 745-3031</li>

      <li>Call us right away or for us to better accommodate your group, you can E-mail us the following information
      </li>
    </ul>
    <ol>
      <li>Put “Field Trip & (Your School’s Nam” in the subject line</li>
      <li>School or Organization’s Name</li>
      <li>Your name and direct phone number</li>
      <li>Number of student participants</li>
      <li>Desired Date and start time</li>
      <li>Best time to contact you</li>
    </ol>
    <p><b>We will reply to your email with the best time to contact us by phone as especially during the off season at
        the zoo we are not always in the office.
        <br />
        After you have finalized your date and start time, you will receive a conformation email with attached
        additional information regarding our educational field trips to share with staff
      </b></p>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Field Trip Format</b></p>
    <ul>
      <li>"Welcome" Presentation- Before your exploring the park at your own pace, our staff will go over park rules and
        tips for a fun and safe visit with your entire group.</li>
      <li>During the presentation you will learn fun facts about the zoo and more.</li>
      <li>You and chaperones will be given a map to explore Big Joel's Safari and a bucket of animal feed for the
        animals.</li>
      <li> Generally having 8-10 students per chaperone works the best.</li>
      <li> Each map is different and starts each group of 8-10 students in a different area to avoid overcrowding in the
        park so your kids get the most interaction with our animal residents.</li>
      <li>There are many animals and different area to feed them, each small group receives one feed bucket so make sure
        not to use all of your feed at one spot.</li>
      <li>We have informational signs about each of animals and if you have further questions you will find staff
        members in the different areas of the park.</li>
      <li>They will be glad to tell you any facts or if they do not know they will refer you to someone who does.</li>
      <li>Generally most groups on average spend one and half hours visiting the park.</li>
      <li>At the end your group can meet at our pavilion and use our handwash station before you exit the park.</li>
      <li>​Any extra activities that cost such as animal rides, the parakeet aviary, etc. are not included in field
        trips unless special arrangements have been made.</li>
        </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Planning Field Trips in Spring & Fall:</b></p>
    <p>Thursday and Friday</p>
    <ul>
      <li>Minimum 15 participants required to book a field trip. These days are typically reserved for our smaller
        groups while we are open to the general public.</li>
      <li>All fieldtrips must be scheduled in advance to avoid overbooking.</li>
      <li>$50.00 non-refundable deposit required</li>
      <li>Activities that are additional cost such as the parakeet house, gift shop, and camel rides will be operating,
        but are not included in the price.</li>
      <li>Regular charging rates do apply if you choose to do such activities.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p>Mondays, Tuesdays, & Wednesdays</p>
    <ul>
      <li>Minimum of 60 participants required to book a field trip on days we are closed to the public.</li>
      <li>Monday thru Wednesday are typically reserved for our larger groups.</li>
      <li>All fieldtrips must be scheduled in advance to avoid overbooking.</li>
      <li>100.00 non-refundable deposit required</li>
      <li>Activities that are at additional cost such as the parakeet house, camel rides, and gift shop are closed
        during Monday thru Wednesday unless special arrangements have been made</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p>Planning Field Trips in Summer:</p>
    <ul>
      <li>Monday, Thursday, & Friday (from Memorial Day thru Labor Da</li>
      <li>Same requirements as the Spring & Fall on Thursdays & Fridays which can be found above</li>
      <li>Tuesday & Wednesday (from Memorial Day thru Labor Da</li>
      <li>Minimum of 100 participants required to book a field trip on these days when we are closed to the public</li>
      <li>All fieldtrips must be scheduled in advance to avoid overbooking.</li>
      <li>$150.00 non-refundable</li>
      <li>deposit required</li>
      <li>Activities that are at additional cost such as the parakeet house, camel rides, and gift shop are closed
        during field trips unless special arrangements have been made</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Cancellation and Late Policy: PLEASE READ</b></p>
    Inclement Weather Cancellation-
    <ul>
      <li>Only Big Joel can authorize the cancellation of a field trip due to inclement weather as we are an outdoor
        facility and we will contact you if you are scheduled.</li>
      <li>We keep a close eye on the weather at all times for the care of the animals, so don't worry we are as
        concerned as you are.</li>
      <li>If you decide to independently cancel your trip without contacting us, no refund or chance to reschedule will
        be given.</li>
      <li>If your group is LATE in any way is to call us immediately!</li>
      <li>Your group is to arrive at least 10-15 minutes before your start time.</li>
      <li>Arriving early is never an issue, so please take this into consideration.</li>
      <li>Help us help you, we understand that things can happen, so the faster we know you are going to be late the
        more options we can come up with.</li>
      <li>We can reschedule if necessary depending on the situation.</li>
      <li>If a group is more than 1/2 hour late past your scheduled arrive time and we have not been contacted by your
        representative we will assume your group is not coming and we will cancel your field trip. We will call the
        emergency contact number before cancelling, make sure this number is correct when booking a field trip with us.
      </li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Rules and Guidelines for Educators planning your field trip (Must Rea</b></p>
    <ul>
      <li>Arrive on Time! The time you are given when booking is your START TIME and not your arrival time.</li>
      <li>Being early is never a bad thing! Due to the popularity of our field trips we often have multiple booked per
        day, being late may additionally delay your start time.</li>
      <li>If you’re a delayed in any way please refer to our Cancellation and late policy that can be found below.</li>
      <li>Directions! Please use our simple and easy written directions found here on our website to get to our park and
        not a GPS device.</li>
      <li>Countless parents of students and buses have gotten lost coming to the park using GPS devices (this happens
        ofte, so contact your bus driver or transportation service with this information.</li>
      <li>No Outside Food is allowed in the park such as lunches & snacks.</li>
      <li>Educators you need to plan accordingly and we do have references for local parks to have lunch at.</li>
      <li>Bring water! We are not allowed to let the public access our well water so there are no drinking fountains.
      </li>
      <li>Our gift shop is not always open to purchase water depending on the day of field trip</li>
      <li>payment: Before entering Big Joel's Safari your group must be paid for in One transaction along with a copy of
        your Tax Exempt form. Group minimums required for booking are strictly enforced and you are required to pay the
        group minimum price even if you do not have the correct number of participants.</li>
      <li>If you paid in advance and some of your participants cannot make it, you will be refunded in park passes for
        them to visit on their own.</li>
      <li>Wheel Chair Accessibility: Please take into consideration that most of the walkways in the park are on natural
        terrain such as gravel and grass with some slight inclines.</li>
      <li>Service Animals: For the safety of our animals, service animals are only allowed in our pavilion and entrance
        area in the park.</li>
      <li>Food Allergies: Our feed that is given to you does not have "peanut or nut" products on the label, however
        feed mills for livestock do not operate in same manner as food mills so we cannot guarantee it is 100% peanut
        free.</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    ​ <p><b>Rules for Participants & Chaperones</b></p>
    <ul>
      <li>Students are required to stay with chaperones always</li>
      <li>Respect the animals. This means being quiet, calm, and no harassing the animals</li>
      <li>Obey all rules, signs, and staff members</li>
      <li>Only feed animals the food you have been given & please read signs as many are on special diets</li>
      <li>Do not throw feed at animals, pour it onto the ground, or pick up old feed off the ground as it is likely
        contaminated</li>
      <li>Walk, do not run, on designated paths only</li>
      <li>Please do not litter</li>
      <li>Do not pick up or kick gravel. Anyone caught throwing rocks especially at the animals, will be asked to leave
      </li>
      <li>Please leave flowers, plants, and free roaming animals alone for all park visitors to enjoy</li>
      <li>Attractions that costs are not included in the field trip costs unless previous arrangements have been made
      </li>
      <li>Be courteous and respectful of other visitors</li>
    </ul>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <p><b>Tips for a great start to your field trip</b></p>
    <ul>
      <li>These tips are so your students & chaperones can make the most of their visit!</li>
      <li>Arrive on time.</li>
      <li>If given a start time for example of 9:30am, please arrive 15 minutes to 1/2 hour before that time.</li>
      <li>Your start time is not your arrival time to the park.</li>
      <li>Big Joel’s Safari wants to give all school groups the chance to visit the park and we have expanded parking
        and staff to add more field trip opportunities.</li>
      <li>Spring and Summer will be fully booked so not arriving at your time can affect your group and others. So
        please make sure to communicate this with transportation coordinator.</li>
      <li>Please have your students wait until the Welcome Presentation is over before taking students to the restroom
        so we can address your entire group at one time to go over important rules and fun tips. Of course, if you have
        a few students that have an emergency that is fine!!!</li>
      <li>During the booking process you should know that bus drivers and teachers are free.</li>
      <li>Parents and chaperones accompanying are the same price as students.</li>
      <li>We need to know if parents are paying for themselves when arriving at the park or if they included when you
        pay for the students before beginning your field trip.</li>
      <li>Plan by knowing your Chaperone to student ratio in advance and make sure all your fellow teachers know so you
        can have more fun!</li>
      <li>It is recommended for one chaperone to have 8-10 students (not 8-10 chaperones & kid.</li>
      <li>You may have more than one chaperone per 8-10 students. The reason is our feed buckets given to each chaperone
        is for approximately 8-10 children.</li>
      <li>For example, if you have a group of 68 students they will be given 7 buckets</li>
      <li>of feed, so you need 7 equal groups, so every child gets the same opportunity to feed the animals.</li>
      <li>Lastly, please share attached rules and guidelines with all teachers involved with your field trip</li>
    </ul>
  </mat-card-content>
</mat-card>
