<div *ngIf="calendar">
<!-- <form> -->
  <h2>{{calendar.name}} details:</h2>
  <div>
  <label>July 4th through the&nbsp;</label>{{calendar.id}}th</div>
  <mat-form-field class="example-full-width">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-chip-list>
    <mat-chip (click)="goBack()">Back</mat-chip>
    <mat-chip (click)="save()">Save</mat-chip>
  </mat-chip-list>
<!-- </form> -->
</div>
