<mat-card class="dashboard-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Big Joel's Safari</mat-card-title>
        <mat-card-subtitle>Zoo and Educational Park</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
    <p>
      Big Joel's is a family-owned farm and seasonal attraction.
      The farm is home to well over 60 different animal species,
      both big and small, mild and wild. View all animals up close
      with the opportunity to touch and feed the barnyard companions.
    </p>

  </mat-card-content>
  <!-- <mat-card-actions>
    <my-calendar-search></my-calendar-search>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Or choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    <mat-chip-list>
      <label>Or select one of the available dates:</label>
      <mat-chip *ngFor="let calendar of calendars" (click)="gotoDetail(calendar)">{{calendar.id}}th Details</mat-chip>
    </mat-chip-list>
  </mat-card-actions> -->
</mat-card>
